<div class="content">

	<%= title t('app.menu.about') %>

	<%= t('app.about.desc') %><br/><br/>

	<a href="http://www.workingwithrails.com/recommendation/new/person/8314-leonardo-faria-coelho"><%= I18n.t('app.about.link1') %></a><br/>
	<a href="http://www.leonardofaria.net"><%= I18n.t('app.about.link2') %></a><br/>
	<a href="http://www.twitter.com/leozera"><%= I18n.t('app.about.link3') %></a> <%= I18n.t('app.about.more') %><br/>
	<a href="/user/leozera"><%= I18n.t('app.about.link4') %></a>

</div>