<div class="code">

	<h2><%= link_to code.title, code %></h2>

	<%= code.description %>

	<%= code.highlighted_code %>

	<footer>
	  created by <%= link_to code.user.login, code %> &#8212;
	  <%= l code.created_at, format: :short %>
	  <% if code.tag_list.size > 0 %>
	  	&#8212; tags:
	  	<% for tag in code.tag_list.sort! %>
	  		<%= link_to tag, tag %>
	  	<% end %>
	  <% end %>
	</footer>

</div>