<%= render "shared/error_messages", :target => @code %>

<%= form_for(@code, html: { class: 'pure-form pure-g' }) do |f| %>

  <div class="pure-u-4-24">
    <%= f.label :title %>
  </div>
  <div class="pure-u-20-24">
    <%= f.text_field :title, class: 'pure-input-1' %>
  </div>

  <div class="pure-u-4-24">
    <%= f.label :description %>
  </div>
  <div class="pure-u-20-24">
    <%= f.text_area :description, class: 'pure-input-1', rows: 3 %><br/>
    <small>Hint: you can use markdown syntax in your description</small>
  </div>

  <div class="pure-u-4-24">
    <%= f.label :language_id %>
  </div>
  <div class="pure-u-20-24">
    <%= f.collection_select :language_id, Language.all, :id, :name, include_blank: '' %>
  </div>

  <div class="pure-u-4-24">
    <%= f.label :code %>
  </div>
  <div class="pure-u-20-24">
    <%= f.text_area :code, class: 'pure-input-1', rows: 10 %>
  </div>

  <div class="pure-u-4-24">
    <%= f.label :tag_list %>
  </div>
  <div class="pure-u-20-24">
    <%= f.text_field :tag_list, value: @code.tag_list.to_s, class: 'pure-input-1' %>
  </div>

  <div class="pure-u-4-24">
    <%= f.label :privated %>
  </div>
  <div class="pure-u-20-24">
    <label class="pure-checkbox">
      <%= f.check_box :privated %>
    </label>
  </div>

  <div class="pure-u-4-24">
  </div>

  <div class="pure-u-20-24">
    <%= f.submit class: 'pure-button pure-button-primary' %>
  </div>

<% end %>
