<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'pure-form' }) do |f| %>

  <fieldset class="pure-group">

    <%= f.text_field :login, placeholder: t('app.sidebar.login.email'), class: 'pure-input-1' %>
    <%= f.password_field :password, autocomplete: "off", placeholder: t('app.sidebar.login.password'), class: 'pure-input-1' %>

  </fieldset>

  <% if devise_mapping.rememberable? -%>
    <label for="user_remember_me" class="pure-checkbox">
      <%= f.check_box :remember_me %>
      <%= t('app.sidebar.login.remember') %>
    </label>

  <% end -%>

  <%= f.submit t('app.sidebar.login.login'), class: 'pure-button pure-input-1 pure-button-primary' %>

<% end %>

<%= render "devise/shared/links" %>
