<!DOCTYPE html>
<html>
<head>
  <title><%= page_title(content_for(:title)).html_safe %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "themes/#{session[:style]}", media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="page">
  <header>
    <div class="pure-u-1 pure-u-md-6-24">
      <div class="pure-menu">
        <%= link_to 'codestacker', root_path, class: 'pure-menu-heading custom-brand' %>
        <a href="#" class="custom-toggle" id="toggle"><s class="bar"></s><s class="bar"></s></a>
      </div>
    </div>

    <div class="pure-u-1 pure-u-md-14-24">
      <nav class="custom-can-transform">
        <ul>
          <li><%= nav_link_to t('app.menu.about'), about_path %></li>
          <% unless user_signed_in? %>
          <li><%= nav_link_to t('app.menu.signup'), new_registration_path(resource_name) %></li>
          <li><%= nav_link_to t('app.menu.post_as_anonymous'), new_code_path %></li>
          <% else %>
          <li><%= nav_link_to t('app.menu.post'), new_code_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>

    <div class="pure-u-1 pure-u-md-4-24">
      <%= styles_select_tag %>
    </div>
  </header>

  <div class="pure-g">
    <aside class="pure-u-1 pure-u-md-1-4">
      <h4><%= t('app.sidebar.title') %></h4>

      <div class="login <%= 'logged' if user_signed_in? %>">
        <% if user_signed_in? %>
          <%= link_to image_tag(current_user.avatar), user_code_path(current_user.username), class: 'pure-thumb pure-thumb-eliptical' %>
          <%= link_to "Edit my account", edit_user_registration_path %><br/>
          <%= link_to "Logout", destroy_user_session_path, method: 'delete' %>
        <% else %>
          <%= render 'devise/sessions/form' %>
        <% end %>
      </div>

      <div class="tagcloud_before">Tagcloud +</div>
      <%= render partial: 'codes/tagcloud' %>
      <div class="tagcloud_after"></div>
    </aside>

    <section class="pure-u-1 pure-u-md-3-4">
      <div class="ads_header">
        <%= google_adsense_include_tag client: 'ca-pub-6265317430549220', slot: '2386519079', width: 728, height: 90 %>
      </div>

      <%= flash_message %>

      <%= yield %>

      <div class="ads_footer">
        <%= google_adsense_include_tag client: 'ca-pub-6265317430549220', slot: '7152526580', width: 728, height: 90 %>
      </div>
    </section>
  </div>

</div>

<footer id="footer">
  <%= t('app.footer.title') %> <a href="http://www.leonardofaria.net">leonardo faria</a>.
  <a href="https://github.com/leonardofaria/codestacker">source</a>
</footer>

<%= javascript_include_tag 'menu', 'data-turbolinks-track': true %>
<%= google_analytics('UA-157386-8') %>
</body>
</html>
